<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Movie Success Prediction</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <h2>Big Data Project</h2>
      </div>
    </nav>

  <div class="container">
    <div class="row">
      <div class="page-header">
        <h2><strong>Project: To Predict Success of New Movies Using Graph Database</strong></h2>
      </div>
    </div>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <a href="/director"><img src="img/slider1.jpg" alt="..." style="height: 400px; width: 100%; display: block;"></a>
          <div class="carousel-caption">
             Planning to Direct the Next Movie?
          </div>
        </div>
        <div class="item">
          <a href="/actor"><img src="img/slider2.jpg" alt="..." style="height: 400px; width: 100%; display: block;"></a>
          <div class="carousel-caption">
             Planning to Act in a new movie?
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="row">
      <p class="lead">This Project deals with analyzing the Cinestar Dataset, Using this data on the success
      of old moves, we predict the success of your new movies based on several criteria</p>
    </div>

    <div class="row">
      <p class="lead">

      </p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <img class="img-circle" src="img/director.png" alt="Generic placeholder image" width="140" height="140">
        <h2>Director</h2>
        <p>Predict the Success of the next Movie from an Actor's/Actress' Persective</p>
        <p><a class="btn btn-default" href="/director" role="button">Explore &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-6">
        <img class="img-circle" src="img/Actor.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Actor</h2>
        <p> Planning to Direct the Next Success? Use our analytics to find Insights on different Scenarios</p>
        <p><a class="btn btn-default" href="/actor" role="button">Explore &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2015 Big Data Project Group &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

  </div>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <script>
    $('.carousel').carousel();
  </script>
</body>
</html>
